##News dataset

Read the news dataset.

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/merged_dataset.csv")

In [5]:
data.head(10)

,company,title,link,publish_date,label_x,probability,label_y,score
0,Oracle,Oracle and NVIDIA to Deliver Sovereign AI Worl...,https://news.google.com/read/CBMibkFVX3lxTE5SV...,2024-03-18T07:00:00.000Z,government,0.515955,POSITIVE,0.996672
1,Oracle,Introducing Oracle Health Clinical Digital Ass...,https://news.google.com/read/CBMifEFVX3lxTFBGR...,2024-06-22T01:28:20.000Z,social,0.357664,POSITIVE,0.990025
2,Oracle,"Optimize your Oracle estate, reduce costs and ...",https://news.google.com/read/CBMiW0FVX3lxTE5Hc...,2024-08-07T21:22:53.000Z,social,0.348627,POSITIVE,0.993441
3,Oracle,OpenAI Selects Oracle Cloud Infrastructure to ...,https://news.google.com/read/CBMi0gFBVV95cUxNN...,2024-06-11T07:00:00.000Z,environment,0.452918,POSITIVE,0.868924
4,Oracle,Microsoft and Oracle expand partnership to del...,https://news.google.com/read/CBMi9wFBVV95cUxOR...,2023-09-14T07:00:00.000Z,environment,0.415351,POSITIVE,0.990156
5,Oracle,Oracle Sets the Date for its Fourth Quarter Fi...,https://news.google.com/read/CBMi6wFBVV95cUxQO...,2024-06-04T07:00:00.000Z,government,0.457633,NEGATIVE,0.826796
6,Oracle,Microsoft expands partnership with Oracle to b...,https://news.google.com/read/CBMi5AFBVV95cUxOQ...,2023-09-14T07:00:00.000Z,environment,0.457203,POSITIVE,0.996944
7,Oracle,Oracle and Google Cloud Announce a Groundbreak...,https://news.google.com/read/CBMixwFBVV95cUxPb...,2024-06-11T07:00:00.000Z,environment,0.309150,POSITIVE,0.999719
8,Oracle,Connect and Modernize Healthcare,https://news.google.com/read/CBMiU0FVX3lxTFBJQ...,2023-09-19T04:13:39.000Z,social,0.836645,POSITIVE,0.999753
9,Oracle,Oracle Code Assist: AI Companion to Boost Deve...,https://news.google.com/read/CBMingFBVV95cUxPQ...,2024-05-07T07:00:00.000Z,environment,0.277280,POSITIVE,0.995944

In [6]:
data.columns

Index(['company', 'title', 'link', 'publish_date', 'label_x', 'probability',
       'label_y', 'score'],
      dtype='object')

We don't need the 'probability' and 'score' columns, we will drop them.

In [7]:
data = data.drop(columns=['probability', 'score'])

In [8]:
data.columns

Index(['company', 'title', 'link', 'publish_date', 'label_x', 'label_y'], dtype='object')

Check for which companies the dataset stores info.

In [9]:
unique_values_company = data['company'].unique()
print(unique_values_company)

['Oracle' 'Procter' 'Pfizer' 'Samsung' 'Tesla' 'Shell' 'Tencent' 'Toyota'
 'Unilever' 'UnitedHealth' 'Visa' 'Walmart' 'Intel']

Get to know the dataset.

In [10]:
data.isnull().sum() / len(data)

company         0.0
title           0.0
link            0.0
publish_date    0.0
label_x         0.0
label_y         0.0
dtype: float64

In [11]:
data.describe()

,company,title,link,publish_date,label_x,label_y
count,1230,1230,1230,1230,1230,1230
unique,13,1212,1217,367,4,2
top,Procter,Procter & Gamble (PG) Ascends But Remains Behi...,https://news.google.com/read/CBMirgFBVV95cUxOX...,2024-04-30T07:00:00.000Z,social,NEGATIVE
freq,103,4,4,18,658,617

In [12]:
duplicates = data[data['link'].duplicated()]

print(duplicates)

           company                                              title  \
101        Procter  Procter & Gamble Company (The) (PG) is Attract...
103        Procter  Procter & Gamble Company (The) (PG) is Attract...
139        Procter  Procter & Gamble (PG) Ascends But Remains Behi...
141        Procter  Procter & Gamble (PG) Ascends But Remains Behi...
153        Procter  Procter & Gamble Company (The) (PG) Is a Trend...
155        Procter  Procter & Gamble Company (The) (PG) Is a Trend...
319        Samsung  Samsung Announces Collaboration With Tesla at ...
320          Tesla  Samsung Announces Collaboration With Tesla at ...
321          Tesla  Samsung Announces Collaboration With Tesla at ...
892   UnitedHealth  UnitedHealth Group Reports First Quarter 2024 ...
894   UnitedHealth  UnitedHealth Group Reports First Quarter 2024 ...
1026          Visa  Actions to Impose Additional Visa Restrictions...
1028          Visa  Actions to Impose Additional Visa Restrictions...

                                                   link  \
101   https://news.google.com/read/CBMiigFBVV95cUxNT...
103   https://news.google.com/read/CBMiigFBVV95cUxPL...
139   https://news.google.com/read/CBMihgFBVV95cUxPb...
141   https://news.google.com/read/CBMihgFBVV95cUxQO...
153   https://news.google.com/read/CBMihwFBVV95cUxNU...
155   https://news.google.com/read/CBMihwFBVV95cUxOM...
319   https://news.google.com/read/CBMirgFBVV95cUxOX...
320   https://news.google.com/read/CBMirgFBVV95cUxOX...
321   https://news.google.com/read/CBMirgFBVV95cUxOX...
892   https://news.google.com/read/CBMingFBVV95cUxQd...
894   https://news.google.com/read/CBMirwFBVV95cUxQb...
1026  https://news.google.com/read/CBMivgFBVV95cUxPR...
1028  https://news.google.com/read/CBMiwAFBVV95cUxQe...

                  publish_date      label_x   label_y
101   2024-08-16T13:00:13.000Z       social  POSITIVE
103   2024-06-17T07:00:00.000Z       social  POSITIVE
139   2024-07-10T07:00:00.000Z      neutral  POSITIVE
141   2024-06-03T07:00:00.000Z      neutral  POSITIVE
153   2024-06-05T07:00:00.000Z       social  NEGATIVE
155   2024-02-28T08:00:00.000Z       social  NEGATIVE
319   2024-01-05T08:00:00.000Z  environment  POSITIVE
320   2024-01-05T08:00:00.000Z  environment  POSITIVE
321   2024-01-05T08:00:00.000Z  environment  POSITIVE
892   2024-04-16T07:00:00.000Z       social  POSITIVE
894   2024-04-16T07:00:00.000Z       social  POSITIVE
1026  2023-10-31T07:00:00.000Z   government  NEGATIVE
1028  2023-11-16T08:00:00.000Z   government  NEGATIVE

In [13]:
duplicates = data[data['title'].duplicated()]

print(duplicates)

           company                                              title  \
101        Procter  Procter & Gamble Company (The) (PG) is Attract...
102        Procter  Procter & Gamble Company (The) (PG) is Attract...
103        Procter  Procter & Gamble Company (The) (PG) is Attract...
139        Procter  Procter & Gamble (PG) Ascends But Remains Behi...
140        Procter  Procter & Gamble (PG) Ascends But Remains Behi...
141        Procter  Procter & Gamble (PG) Ascends But Remains Behi...
153        Procter  Procter & Gamble Company (The) (PG) Is a Trend...
154        Procter  Procter & Gamble Company (The) (PG) Is a Trend...
155        Procter  Procter & Gamble Company (The) (PG) Is a Trend...
319        Samsung  Samsung Announces Collaboration With Tesla at ...
320          Tesla  Samsung Announces Collaboration With Tesla at ...
321          Tesla  Samsung Announces Collaboration With Tesla at ...
892   UnitedHealth  UnitedHealth Group Reports First Quarter 2024 ...
893   UnitedHealth  UnitedHealth Group Reports First Quarter 2024 ...
894   UnitedHealth  UnitedHealth Group Reports First Quarter 2024 ...
1026          Visa  Actions to Impose Additional Visa Restrictions...
1027          Visa  Actions to Impose Additional Visa Restrictions...
1028          Visa  Actions to Impose Additional Visa Restrictions...

                                                   link  \
101   https://news.google.com/read/CBMiigFBVV95cUxNT...
102   https://news.google.com/read/CBMiigFBVV95cUxPL...
103   https://news.google.com/read/CBMiigFBVV95cUxPL...
139   https://news.google.com/read/CBMihgFBVV95cUxPb...
140   https://news.google.com/read/CBMihgFBVV95cUxQO...
141   https://news.google.com/read/CBMihgFBVV95cUxQO...
153   https://news.google.com/read/CBMihwFBVV95cUxNU...
154   https://news.google.com/read/CBMihwFBVV95cUxOM...
155   https://news.google.com/read/CBMihwFBVV95cUxOM...
319   https://news.google.com/read/CBMirgFBVV95cUxOX...
320   https://news.google.com/read/CBMirgFBVV95cUxOX...
321   https://news.google.com/read/CBMirgFBVV95cUxOX...
892   https://news.google.com/read/CBMingFBVV95cUxQd...
893   https://news.google.com/read/CBMirwFBVV95cUxQb...
894   https://news.google.com/read/CBMirwFBVV95cUxQb...
1026  https://news.google.com/read/CBMivgFBVV95cUxPR...
1027  https://news.google.com/read/CBMiwAFBVV95cUxQe...
1028  https://news.google.com/read/CBMiwAFBVV95cUxQe...

                  publish_date      label_x   label_y
101   2024-08-16T13:00:13.000Z       social  POSITIVE
102   2024-06-17T07:00:00.000Z       social  POSITIVE
103   2024-06-17T07:00:00.000Z       social  POSITIVE
139   2024-07-10T07:00:00.000Z      neutral  POSITIVE
140   2024-06-03T07:00:00.000Z      neutral  POSITIVE
141   2024-06-03T07:00:00.000Z      neutral  POSITIVE
153   2024-06-05T07:00:00.000Z       social  NEGATIVE
154   2024-02-28T08:00:00.000Z       social  NEGATIVE
155   2024-02-28T08:00:00.000Z       social  NEGATIVE
319   2024-01-05T08:00:00.000Z  environment  POSITIVE
320   2024-01-05T08:00:00.000Z  environment  POSITIVE
321   2024-01-05T08:00:00.000Z  environment  POSITIVE
892   2024-04-16T07:00:00.000Z       social  POSITIVE
893   2024-04-16T07:00:00.000Z       social  POSITIVE
894   2024-04-16T07:00:00.000Z       social  POSITIVE
1026  2023-10-31T07:00:00.000Z   government  NEGATIVE
1027  2023-11-16T08:00:00.000Z   government  NEGATIVE
1028  2023-11-16T08:00:00.000Z   government  NEGATIVE

In [14]:
duplicates = data[data.duplicated()]

print(duplicates)

           company                                              title  \
101        Procter  Procter & Gamble Company (The) (PG) is Attract...
103        Procter  Procter & Gamble Company (The) (PG) is Attract...
139        Procter  Procter & Gamble (PG) Ascends But Remains Behi...
141        Procter  Procter & Gamble (PG) Ascends But Remains Behi...
153        Procter  Procter & Gamble Company (The) (PG) Is a Trend...
155        Procter  Procter & Gamble Company (The) (PG) Is a Trend...
319        Samsung  Samsung Announces Collaboration With Tesla at ...
321          Tesla  Samsung Announces Collaboration With Tesla at ...
892   UnitedHealth  UnitedHealth Group Reports First Quarter 2024 ...
894   UnitedHealth  UnitedHealth Group Reports First Quarter 2024 ...
1026          Visa  Actions to Impose Additional Visa Restrictions...
1028          Visa  Actions to Impose Additional Visa Restrictions...

                                                   link  \
101   https://news.google.com/read/CBMiigFBVV95cUxNT...
103   https://news.google.com/read/CBMiigFBVV95cUxPL...
139   https://news.google.com/read/CBMihgFBVV95cUxPb...
141   https://news.google.com/read/CBMihgFBVV95cUxQO...
153   https://news.google.com/read/CBMihwFBVV95cUxNU...
155   https://news.google.com/read/CBMihwFBVV95cUxOM...
319   https://news.google.com/read/CBMirgFBVV95cUxOX...
321   https://news.google.com/read/CBMirgFBVV95cUxOX...
892   https://news.google.com/read/CBMingFBVV95cUxQd...
894   https://news.google.com/read/CBMirwFBVV95cUxQb...
1026  https://news.google.com/read/CBMivgFBVV95cUxPR...
1028  https://news.google.com/read/CBMiwAFBVV95cUxQe...

                  publish_date      label_x   label_y
101   2024-08-16T13:00:13.000Z       social  POSITIVE
103   2024-06-17T07:00:00.000Z       social  POSITIVE
139   2024-07-10T07:00:00.000Z      neutral  POSITIVE
141   2024-06-03T07:00:00.000Z      neutral  POSITIVE
153   2024-06-05T07:00:00.000Z       social  NEGATIVE
155   2024-02-28T08:00:00.000Z       social  NEGATIVE
319   2024-01-05T08:00:00.000Z  environment  POSITIVE
321   2024-01-05T08:00:00.000Z  environment  POSITIVE
892   2024-04-16T07:00:00.000Z       social  POSITIVE
894   2024-04-16T07:00:00.000Z       social  POSITIVE
1026  2023-10-31T07:00:00.000Z   government  NEGATIVE
1028  2023-11-16T08:00:00.000Z   government  NEGATIVE

Since we checked for duplicate rows, we will remove them now.

In [15]:
data_unique = data.drop_duplicates()

In [16]:
data_unique.describe()

,company,title,link,publish_date,label_x,label_y
count,1218,1218,1218,1218,1218,1218
unique,13,1212,1217,367,4,2
top,Samsung,Procter & Gamble (PG) Ascends But Remains Behi...,https://news.google.com/read/CBMirgFBVV95cUxOX...,2024-04-30T07:00:00.000Z,social,NEGATIVE
freq,100,2,2,18,652,613

In [17]:
data_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1218 entries, 0 to 1229
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company       1218 non-null   object
 1   title         1218 non-null   object
 2   link          1218 non-null   object
 3   publish_date  1218 non-null   object
 4   label_x       1218 non-null   object
 5   label_y       1218 non-null   object
dtypes: object(6)
memory usage: 66.6+ KB

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company       1230 non-null   object
 1   title         1230 non-null   object
 2   link          1230 non-null   object
 3   publish_date  1230 non-null   object
 4   label_x       1230 non-null   object
 5   label_y       1230 non-null   object
dtypes: object(6)
memory usage: 57.8+ KB

In [19]:
data_unique.head(20)

,company,title,link,publish_date,label_x,label_y
0,Oracle,Oracle and NVIDIA to Deliver Sovereign AI Worl...,https://news.google.com/read/CBMibkFVX3lxTE5SV...,2024-03-18T07:00:00.000Z,government,POSITIVE
1,Oracle,Introducing Oracle Health Clinical Digital Ass...,https://news.google.com/read/CBMifEFVX3lxTFBGR...,2024-06-22T01:28:20.000Z,social,POSITIVE
2,Oracle,"Optimize your Oracle estate, reduce costs and ...",https://news.google.com/read/CBMiW0FVX3lxTE5Hc...,2024-08-07T21:22:53.000Z,social,POSITIVE
3,Oracle,OpenAI Selects Oracle Cloud Infrastructure to ...,https://news.google.com/read/CBMi0gFBVV95cUxNN...,2024-06-11T07:00:00.000Z,environment,POSITIVE
4,Oracle,Microsoft and Oracle expand partnership to del...,https://news.google.com/read/CBMi9wFBVV95cUxOR...,2023-09-14T07:00:00.000Z,environment,POSITIVE
5,Oracle,Oracle Sets the Date for its Fourth Quarter Fi...,https://news.google.com/read/CBMi6wFBVV95cUxQO...,2024-06-04T07:00:00.000Z,government,NEGATIVE
6,Oracle,Microsoft expands partnership with Oracle to b...,https://news.google.com/read/CBMi5AFBVV95cUxOQ...,2023-09-14T07:00:00.000Z,environment,POSITIVE
7,Oracle,Oracle and Google Cloud Announce a Groundbreak...,https://news.google.com/read/CBMixwFBVV95cUxPb...,2024-06-11T07:00:00.000Z,environment,POSITIVE
8,Oracle,Connect and Modernize Healthcare,https://news.google.com/read/CBMiU0FVX3lxTFBJQ...,2023-09-19T04:13:39.000Z,social,POSITIVE
9,Oracle,Oracle Code Assist: AI Companion to Boost Deve...,https://news.google.com/read/CBMingFBVV95cUxPQ...,2024-05-07T07:00:00.000Z,environment,POSITIVE
10,Oracle,Announcing the general availability of Oracle ...,https://news.google.com/read/CBMiogFBVV95cUxQb...,2024-03-04T08:00:00.000Z,social,POSITIVE
11,Oracle,Private Endpoint for Secure OCI Access,https://news.google.com/read/CBMiaEFVX3lxTE5aW...,2023-12-21T15:46:36.000Z,social,NEGATIVE
12,Oracle,Dynamic Routing Gateway,https://news.google.com/read/CBMickFVX3lxTE02d...,2024-04-17T16:47:43.000Z,environment,POSITIVE
13,Oracle,Watch Oracle DevLive: Build with Data and AI,https://news.google.com/read/CBMiU0FVX3lxTFBra...,2024-01-08T18:56:15.000Z,social,NEGATIVE
14,Oracle,First Principles: Powering mission critical ap...,https://news.google.com/read/CBMiuwFBVV95cUxOO...,2023-12-13T08:00:00.000Z,government,POSITIVE
15,Oracle,Introducing Oracle Exadata Database Service on...,https://news.google.com/read/CBMirgFBVV95cUxNa...,2024-07-09T07:00:00.000Z,environment,NEGATIVE
16,Oracle,RFDS builds a life-saving IT architecture on O...,https://news.google.com/read/CBMiT0FVX3lxTE5JU...,2023-08-29T07:00:00.000Z,government,POSITIVE
17,Oracle,Clinical suite of solutions,https://news.google.com/read/CBMiWEFVX3lxTE1DZ...,2023-09-07T02:29:28.000Z,neutral,POSITIVE
18,Oracle,Clinical and Financial Operations,https://news.google.com/read/CBMibEFVX3lxTE1le...,2023-09-07T02:29:29.000Z,neutral,POSITIVE
19,Oracle,Oracle to launch generative AI-backed clinical...,https://news.google.com/read/CBMioAFBVV95cUxPU...,2024-03-12T07:00:00.000Z,government,NEGATIVE

Change the 'date' column to %Y-%m-%d format. We will do this to the data and data_unique datasets.

In [20]:
data['publish_date'] = pd.to_datetime(data['publish_date'])

data['date'] = data['publish_date'].dt.date

In [21]:
data_unique['publish_date'] = pd.to_datetime(data_unique['publish_date'])

data_unique['date'] = data_unique['publish_date'].dt.date

<ipython-input-21-f1a30fa17744>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_unique['publish_date'] = pd.to_datetime(data_unique['publish_date'])
<ipython-input-21-f1a30fa17744>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_unique['date'] = data_unique['publish_date'].dt.date

In [22]:
data_unique.head(30)

,company,title,link,publish_date,label_x,label_y,date
0,Oracle,Oracle and NVIDIA to Deliver Sovereign AI Worl...,https://news.google.com/read/CBMibkFVX3lxTE5SV...,2024-03-18 07:00:00+00:00,government,POSITIVE,2024-03-18
1,Oracle,Introducing Oracle Health Clinical Digital Ass...,https://news.google.com/read/CBMifEFVX3lxTFBGR...,2024-06-22 01:28:20+00:00,social,POSITIVE,2024-06-22
2,Oracle,"Optimize your Oracle estate, reduce costs and ...",https://news.google.com/read/CBMiW0FVX3lxTE5Hc...,2024-08-07 21:22:53+00:00,social,POSITIVE,2024-08-07
3,Oracle,OpenAI Selects Oracle Cloud Infrastructure to ...,https://news.google.com/read/CBMi0gFBVV95cUxNN...,2024-06-11 07:00:00+00:00,environment,POSITIVE,2024-06-11
4,Oracle,Microsoft and Oracle expand partnership to del...,https://news.google.com/read/CBMi9wFBVV95cUxOR...,2023-09-14 07:00:00+00:00,environment,POSITIVE,2023-09-14
5,Oracle,Oracle Sets the Date for its Fourth Quarter Fi...,https://news.google.com/read/CBMi6wFBVV95cUxQO...,2024-06-04 07:00:00+00:00,government,NEGATIVE,2024-06-04
6,Oracle,Microsoft expands partnership with Oracle to b...,https://news.google.com/read/CBMi5AFBVV95cUxOQ...,2023-09-14 07:00:00+00:00,environment,POSITIVE,2023-09-14
7,Oracle,Oracle and Google Cloud Announce a Groundbreak...,https://news.google.com/read/CBMixwFBVV95cUxPb...,2024-06-11 07:00:00+00:00,environment,POSITIVE,2024-06-11
8,Oracle,Connect and Modernize Healthcare,https://news.google.com/read/CBMiU0FVX3lxTFBJQ...,2023-09-19 04:13:39+00:00,social,POSITIVE,2023-09-19
9,Oracle,Oracle Code Assist: AI Companion to Boost Deve...,https://news.google.com/read/CBMingFBVV95cUxPQ...,2024-05-07 07:00:00+00:00,environment,POSITIVE,2024-05-07
10,Oracle,Announcing the general availability of Oracle ...,https://news.google.com/read/CBMiogFBVV95cUxQb...,2024-03-04 08:00:00+00:00,social,POSITIVE,2024-03-04
11,Oracle,Private Endpoint for Secure OCI Access,https://news.google.com/read/CBMiaEFVX3lxTE5aW...,2023-12-21 15:46:36+00:00,social,NEGATIVE,2023-12-21
12,Oracle,Dynamic Routing Gateway,https://news.google.com/read/CBMickFVX3lxTE02d...,2024-04-17 16:47:43+00:00,environment,POSITIVE,2024-04-17
13,Oracle,Watch Oracle DevLive: Build with Data and AI,https://news.google.com/read/CBMiU0FVX3lxTFBra...,2024-01-08 18:56:15+00:00,social,NEGATIVE,2024-01-08
14,Oracle,First Principles: Powering mission critical ap...,https://news.google.com/read/CBMiuwFBVV95cUxOO...,2023-12-13 08:00:00+00:00,government,POSITIVE,2023-12-13
15,Oracle,Introducing Oracle Exadata Database Service on...,https://news.google.com/read/CBMirgFBVV95cUxNa...,2024-07-09 07:00:00+00:00,environment,NEGATIVE,2024-07-09
16,Oracle,RFDS builds a life-saving IT architecture on O...,https://news.google.com/read/CBMiT0FVX3lxTE5JU...,2023-08-29 07:00:00+00:00,government,POSITIVE,2023-08-29
17,Oracle,Clinical suite of solutions,https://news.google.com/read/CBMiWEFVX3lxTE1DZ...,2023-09-07 02:29:28+00:00,neutral,POSITIVE,2023-09-07
18,Oracle,Clinical and Financial Operations,https://news.google.com/read/CBMibEFVX3lxTE1le...,2023-09-07 02:29:29+00:00,neutral,POSITIVE,2023-09-07
19,Oracle,Oracle to launch generative AI-backed clinical...,https://news.google.com/read/CBMioAFBVV95cUxPU...,2024-03-12 07:00:00+00:00,government,NEGATIVE,2024-03-12
20,Oracle,Announcing Oracle Database 23ai : General Avai...,https://news.google.com/read/CBMif0FVX3lxTFAzV...,2024-05-02 07:00:00+00:00,social,NEGATIVE,2024-05-02
21,Oracle,Oracle Database 23ai : Where to find information,https://news.google.com/read/CBMilAFBVV95cUxQN...,2024-05-02 07:00:00+00:00,neutral,NEGATIVE,2024-05-02
22,Oracle,Microsoft and Oracle announce that Oracle Data...,https://news.google.com/read/CBMivwFBVV95cUxOQ...,2023-12-13 08:00:00+00:00,environment,POSITIVE,2023-12-13
23,Oracle,Sharing Data from On-Premise Oracle Databases,https://news.google.com/read/CBMilAFBVV95cUxNc...,2024-01-12 08:00:00+00:00,social,NEGATIVE,2024-01-12
24,Oracle,Implement Semantic Search in Oracle APEX using...,https://news.google.com/read/CBMivwFBVV95cUxQd...,2024-07-17 07:00:00+00:00,environment,POSITIVE,2024-07-17
25,Oracle,How Oracle Autonomous Database Connects with D...,https://news.google.com/read/CBMitgFBVV95cUxNM...,2023-10-31 07:00:00+00:00,environment,NEGATIVE,2023-10-31
26,Oracle,Oracle Database 23c: The Next Long Term Suppor...,https://news.google.com/read/CBMimAFBVV95cUxPU...,2023-09-19 07:00:00+00:00,neutral,NEGATIVE,2023-09-19
27,Oracle,Exclusive: Oracle Will End All of Its Ad Produ...,https://news.google.com/read/CBMinAFBVV95cUxPQ...,2024-06-17 07:00:00+00:00,social,NEGATIVE,2024-06-17
28,Oracle,Introducing Zero to low-cost Autonomous Databa...,https://news.google.com/read/CBMijgFBVV95cUxNR...,2024-03-14 07:00:00+00:00,social,NEGATIVE,2024-03-14
29,Oracle,What Is a Domain Name System (DNS)?,https://news.google.com/read/CBMiZ0FVX3lxTE1Ea...,2024-05-15 07:00:00+00:00,neutral,NEGATIVE,2024-05-15

In [23]:
data_unique.isnull().sum()

company         0
title           0
link            0
publish_date    0
label_x         0
label_y         0
date            0
dtype: int64

Rename the columns columns.

In [24]:
data_unique = data_unique.rename(columns={
    'title': 'newsTitle',
    'link': 'newsLink',
    'label_x': 'newsType',
    'label_y': 'sentimentScore'
})

In [25]:
data_unique.columns

Index(['company', 'newsTitle', 'newsLink', 'publish_date', 'newsType',
       'sentimentScore', 'date'],
      dtype='object')

In [26]:
#Save the dataset
data_unique.to_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/news.csv', index=False)

##Pfizer dataset

Read the Pfizer stock prices dataset.

In [27]:
data_pfizer = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Datasets]/[Dataset] Stock prices/PFE.csv')

In [28]:
data_pfizer.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-28,36.439999,36.520000,36.029999,36.209999,34.193111,15101900
1,2023-08-29,36.259998,36.939999,36.000000,36.150002,34.136456,21076500
2,2023-08-30,36.180000,36.250000,35.820000,35.900002,33.900383,16833000
3,2023-08-31,35.939999,35.990002,35.380001,35.380001,33.409348,27919500
4,2023-09-01,35.639999,36.060001,35.599998,35.779999,33.787060,17519900
5,2023-09-05,35.959999,36.290001,35.349998,35.380001,33.409348,25856100
6,2023-09-06,35.259998,35.279999,34.259998,34.369999,32.455601,35370200
7,2023-09-07,34.470001,34.639999,34.040001,34.279999,32.370613,26777700
8,2023-09-08,34.230000,34.389999,34.049999,34.250000,32.342285,19467700
9,2023-09-11,34.240002,34.299999,33.540001,33.939999,32.049549,27574400
10,2023-09-12,33.970001,34.209999,33.750000,34.150002,32.247856,17987200
11,2023-09-13,34.209999,34.619999,34.000000,34.080002,32.181755,23853300
12,2023-09-14,34.240002,34.380001,33.980000,34.150002,32.247856,23759900
13,2023-09-15,34.060001,34.419998,33.810001,34.070000,32.172310,57959000
14,2023-09-18,34.119999,34.119999,33.439999,33.639999,31.766260,25421900
15,2023-09-19,33.549999,34.009998,33.520000,33.990002,32.096771,30323300
16,2023-09-20,34.080002,34.090000,33.549999,33.619999,31.747377,24651400
17,2023-09-21,33.470001,33.590000,32.830002,32.849998,31.020264,26980600
18,2023-09-22,33.080002,33.090000,32.500000,32.689999,30.869175,28570800
19,2023-09-25,32.689999,32.980000,32.410000,32.980000,31.143026,19443700

In [29]:
# Convert the 'Date' column in data_pfizer to datetime format
data_pfizer['Date'] = pd.to_datetime(data_pfizer['Date'], format='%Y-%m-%d').dt.date

In [30]:
pfizer_news = data_unique[data_unique['company'] == 'Pfizer']

In [31]:
pfizer_news.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 202 to 299
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         98 non-null     object
 1   newsTitle       98 non-null     object
 2   newsLink        98 non-null     object
 3   publish_date    98 non-null     datetime64[ns, UTC]
 4   newsType        98 non-null     object
 5   sentimentScore  98 non-null     object
 6   date            98 non-null     object
dtypes: datetime64[ns, UTC](1), object(6)
memory usage: 6.1+ KB

Get to know the dataset.

In [32]:
print(pfizer_news['newsType'].value_counts())

newsType
social         66
government     27
environment     4
neutral         1
Name: count, dtype: int64

In [33]:
print(pfizer_news['sentimentScore'].value_counts())

sentimentScore
POSITIVE    56
NEGATIVE    42
Name: count, dtype: int64

Merge the News dataset pfizer_news with the Stock dataset data_pfizer.

In [34]:
data_pfizer = data_pfizer.rename(columns={
    'Date': 'date'
})

In [35]:
merged_df_pfizer = pd.merge(pfizer_news, data_pfizer, on=['date'])

In [36]:
merged_df_pfizer.head()

,company,newsTitle,newsLink,publish_date,newsType,sentimentScore,date,Open,High,Low,Close,Adj Close,Volume
0,Pfizer,Pfizers LORBRENA CROWN Study Shows Majority ...,https://news.google.com/read/CBMivAFBVV95cUxPR...,2024-05-31 07:00:00+00:00,social,POSITIVE,2024-05-31,28.340000,28.750000,28.240000,28.660000,28.261152,78290100
1,Pfizer,Pfizer sees lung cancer drug topping $1 billio...,https://news.google.com/read/CBMi5wFBVV95cUxQM...,2024-05-31 07:00:00+00:00,social,POSITIVE,2024-05-31,28.340000,28.750000,28.240000,28.660000,28.261152,78290100
2,Pfizer,Comparing the COVID-19 Vaccines: How Are They ...,https://news.google.com/read/CBMibkFVX3lxTE1GU...,2024-04-24 07:00:00+00:00,social,NEGATIVE,2024-04-24,26.250000,26.340000,26.040001,26.270000,25.519560,24547800
3,Pfizer,Pfizer boosts bioreactor efficiency with AWS i...,https://news.google.com/read/CBMirwFBVV95cUxNV...,2023-10-12 07:00:00+00:00,government,POSITIVE,2023-10-12,33.110001,33.220001,32.770000,32.919998,31.086363,21809900
4,Pfizer,Cancer Survivors' 'Butterfly Club' Network Fos...,https://news.google.com/read/CBMirAFBVV95cUxOZ...,2023-10-12 13:30:14+00:00,social,POSITIVE,2023-10-12,33.110001,33.220001,32.770000,32.919998,31.086363,21809900

In [37]:
merged_df_pfizer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         95 non-null     object
 1   newsTitle       95 non-null     object
 2   newsLink        95 non-null     object
 3   publish_date    95 non-null     datetime64[ns, UTC]
 4   newsType        95 non-null     object
 5   sentimentScore  95 non-null     object
 6   date            95 non-null     object
 7   Open            95 non-null     float64
 8   High            95 non-null     float64
 9   Low             95 non-null     float64
 10  Close           95 non-null     float64
 11  Adj Close       95 non-null     float64
 12  Volume          95 non-null     int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1), object(6)
memory usage: 9.8+ KB

In [38]:
merged_df_pfizer.describe()

            Open       High        Low      Close  Adj Close        Volume
count  95.000000  95.000000  95.000000  95.000000  95.000000  9.500000e+01
mean   29.422948  29.735790  29.064105  29.377474  28.303683  4.020822e+07
std     2.722610   2.721011   2.662848   2.675893   2.216147  2.335454e+07
min    25.350000  25.459999  25.230000  25.260000  24.538410  1.510190e+07
25%    27.495001  27.935001  27.224999  27.549999  26.777565  2.708595e+07
50%    28.469999  28.790001  28.320000  28.660000  28.136732  3.297210e+07
75%    30.585000  31.225001  30.485000  30.860000  29.306234  4.380310e+07
max    36.439999  36.520000  36.029999  36.209999  34.193111  1.581007e+08

Save the dataset.

In [39]:
merged_df_pfizer.to_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/pfizer-news-merged.csv', index=False)

Group the dataset by columns 'date' and 'newsType'. For each new combination count the number of positive/negative news titles

In [40]:
from collections import Counter

# Group by 'date' and 'newsType', aggregate sentiment scores and count news types
grouped_data = pfizer_news.groupby(['date', 'newsType']).agg({
    'sentimentScore': lambda x: Counter(x),
    'newsType': 'count'
}).rename(columns={'newsType': 'newsType_count'}).reset_index()

print(grouped_data)

          date     newsType   sentimentScore  newsType_count
0   2023-08-28   government  {'NEGATIVE': 1}               1
1   2023-09-05       social  {'POSITIVE': 1}               1
2   2023-09-06       social  {'POSITIVE': 1}               1
3   2023-09-07  environment  {'POSITIVE': 1}               1
4   2023-09-07       social  {'POSITIVE': 1}               1
..         ...          ...              ...             ...
76  2024-07-09   government  {'NEGATIVE': 1}               1
77  2024-07-09       social  {'NEGATIVE': 1}               1
78  2024-07-11       social  {'POSITIVE': 1}               1
79  2024-08-15       social  {'NEGATIVE': 1}               1
80  2024-08-16   government  {'NEGATIVE': 1}               1

[81 rows x 4 columns]

In [41]:
# Initialize new columns for percentages
grouped_data['negative_percentage'] = 0.0
grouped_data['positive_percentage'] = 0.0

# Iterate through the rows to calculate the percentages
for i, row in grouped_data.iterrows():
    sentiment_dict = row['sentimentScore']

    # Get the counts of NEGATIVE and POSITIVE sentiments
    negative_count = sentiment_dict.get('NEGATIVE', 0)
    positive_count = sentiment_dict.get('POSITIVE', 0)
    total_count = row['newsType_count']

    # Calculate the percentages and assign to the new columns
    if total_count > 0:
        grouped_data.at[i, 'negative_percentage'] = (negative_count / total_count) * 100
        grouped_data.at[i, 'positive_percentage'] = (positive_count / total_count) * 100

# Display the updated DataFrame with the new columns
print(grouped_data[['date', 'newsType', 'negative_percentage', 'positive_percentage']])

          date     newsType  negative_percentage  positive_percentage
0   2023-08-28   government                100.0                  0.0
1   2023-09-05       social                  0.0                100.0
2   2023-09-06       social                  0.0                100.0
3   2023-09-07  environment                  0.0                100.0
4   2023-09-07       social                  0.0                100.0
..         ...          ...                  ...                  ...
76  2024-07-09   government                100.0                  0.0
77  2024-07-09       social                100.0                  0.0
78  2024-07-11       social                  0.0                100.0
79  2024-08-15       social                100.0                  0.0
80  2024-08-16   government                100.0                  0.0

[81 rows x 4 columns]

In [42]:
grouped_data.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/pfizer-grouped.csv", index=False)

Now, group the previous dataset by 'date' and count the percentage of positive/negative news titles for each news type.

In [43]:
# Pivot the DataFrame to get each newsType as separate columns for negative and positive percentages
pivot_df_pfizer = grouped_data.pivot(index='date', columns='newsType', values=['negative_percentage', 'positive_percentage'])

# Flatten the multi-level column names
pivot_df_pfizer.columns = [f"{col[1]}_{col[0]}" for col in pivot_df_pfizer.columns]

# Reset the index to bring 'Date' back as a column
pivot_df_pfizer = pivot_df_pfizer.reset_index()

# Display the resulting DataFrame
print(pivot_df_pfizer.head())

         date  environment_negative_percentage  \
0  2023-08-28                              NaN
1  2023-09-05                              NaN
2  2023-09-06                              NaN
3  2023-09-07                              0.0
4  2023-09-12                              NaN

   government_negative_percentage  neutral_negative_percentage  \
0                           100.0                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                           100.0                          NaN

   social_negative_percentage  environment_positive_percentage  \
0                         NaN                              NaN
1                         0.0                              NaN
2                         0.0                              NaN
3                         0.0                            100.0
4                         NaN                              NaN

   government_positive_percentage  neutral_positive_percentage  \
0                             0.0                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             0.0                          NaN

   social_positive_percentage
0                         NaN
1                       100.0
2                       100.0
3                       100.0
4                         NaN

In [44]:
pivot_df_pfizer.head(10)

,date,environment_negative_percentage,government_negative_percentage,neutral_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,neutral_positive_percentage,social_positive_percentage
0,2023-08-28,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
1,2023-09-05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
2,2023-09-06,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
3,2023-09-07,0.0,NaN,NaN,0.0,100.0,NaN,NaN,100.0
4,2023-09-12,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
5,2023-09-14,NaN,NaN,NaN,50.0,NaN,NaN,NaN,50.0
6,2023-09-27,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
7,2023-10-02,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
8,2023-10-06,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
9,2023-10-12,NaN,0.0,NaN,0.0,NaN,100.0,NaN,100.0

Now, we will merge the data_pfizer with pivot_df_pfizer.

In [45]:
pfizer_final = pd.merge(data_pfizer, pivot_df_pfizer, on=['date'])

In [46]:
pfizer_final.head(10)

,date,Open,High,Low,Close,Adj Close,Volume,environment_negative_percentage,government_negative_percentage,neutral_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,neutral_positive_percentage,social_positive_percentage
0,2023-08-28,36.439999,36.520000,36.029999,36.209999,34.193111,15101900,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
1,2023-09-05,35.959999,36.290001,35.349998,35.380001,33.409348,25856100,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
2,2023-09-06,35.259998,35.279999,34.259998,34.369999,32.455601,35370200,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
3,2023-09-07,34.470001,34.639999,34.040001,34.279999,32.370613,26777700,0.0,NaN,NaN,0.0,100.0,NaN,NaN,100.0
4,2023-09-12,33.970001,34.209999,33.750000,34.150002,32.247856,17987200,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
5,2023-09-14,34.240002,34.380001,33.980000,34.150002,32.247856,23759900,NaN,NaN,NaN,50.0,NaN,NaN,NaN,50.0
6,2023-09-27,32.430000,32.500000,31.900000,32.099998,30.312040,26430100,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
7,2023-10-02,32.950001,33.959999,32.759998,33.939999,32.049549,44620600,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
8,2023-10-06,33.520000,33.560001,33.070000,33.130001,31.284668,23750600,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
9,2023-10-12,33.110001,33.220001,32.770000,32.919998,31.086363,21809900,NaN,0.0,NaN,0.0,NaN,100.0,NaN,100.0

In [47]:
pfizer_final.describe()

,Open,High,Low,Close,Adj Close,Volume,environment_negative_percentage,government_negative_percentage,neutral_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,neutral_positive_percentage,social_positive_percentage
count,74.000000,74.000000,74.000000,74.000000,74.000000,7.400000e+01,4.0,21.000000,1.0,52.000000,4.0,21.000000,1.0,52.000000
mean,29.210811,29.519324,28.864459,29.175811,28.134500,4.029112e+07,0.0,61.904762,100.0,36.217949,100.0,38.095238,0.0,63.782051
std,2.669200,2.654242,2.598369,2.608609,2.191909,2.435557e+07,0.0,49.761335,NaN,46.055895,0.0,49.761335,NaN,46.055895
min,25.350000,25.459999,25.230000,25.260000,24.538410,1.510190e+07,0.0,0.000000,100.0,0.000000,100.0,0.000000,0.0,0.000000
25%,27.472501,27.932500,27.187500,27.509999,26.731421,2.704758e+07,0.0,0.000000,100.0,0.000000,100.0,0.000000,0.0,0.000000
50%,28.469999,28.770001,28.280000,28.570000,27.993609,3.371840e+07,0.0,100.000000,100.0,0.000000,100.0,0.000000,0.0,100.000000
75%,30.305000,30.655000,30.072501,30.500000,29.012415,4.421185e+07,0.0,100.000000,100.0,100.000000,100.0,100.000000,0.0,100.000000
max,36.439999,36.520000,36.029999,36.209999,34.193111,1.581007e+08,0.0,100.000000,100.0,100.000000,100.0,100.000000,0.0,100.000000

In [48]:
pfizer_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             74 non-null     object
 1   Open                             74 non-null     float64
 2   High                             74 non-null     float64
 3   Low                              74 non-null     float64
 4   Close                            74 non-null     float64
 5   Adj Close                        74 non-null     float64
 6   Volume                           74 non-null     int64
 7   environment_negative_percentage  4 non-null      float64
 8   government_negative_percentage   21 non-null     float64
 9   neutral_negative_percentage      1 non-null      float64
 10  social_negative_percentage       52 non-null     float64
 11  environment_positive_percentage  4 non-null      float64
 12  government_positive_percentage   21 non-null     float64
 13  neutral_positive_percentage      1 non-null      float64
 14  social_positive_percentage       52 non-null     float64
dtypes: float64(13), int64(1), object(1)
memory usage: 8.8+ KB

In [50]:
pfizer_final.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/pfizer-final.csv", index=False)

##Tesla dataset

In [51]:
data_tesla = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Datasets]/[Dataset] Stock prices/TSLA.csv')
data_tesla.head(20)

# Convert the 'Date' column in data_pfizer to datetime format
data_tesla['Date'] = pd.to_datetime(data_tesla['Date'], format='%Y-%m-%d').dt.date
tesla_news = data_unique[data_unique['company'] == 'Tesla']
data_tesla = data_tesla.rename(columns={
    'Date': 'date'
})

from collections import Counter

# Group by 'date' and 'newsType', aggregate sentiment scores and count news types
grouped_data = tesla_news.groupby(['date', 'newsType']).agg({
    'sentimentScore': lambda x: Counter(x),
    'newsType': 'count'
}).rename(columns={'newsType': 'newsType_count'}).reset_index()

print(grouped_data)

# Initialize new columns for percentages
grouped_data['negative_percentage'] = 0.0
grouped_data['positive_percentage'] = 0.0

# Iterate through the rows to calculate the percentages
for i, row in grouped_data.iterrows():
    sentiment_dict = row['sentimentScore']

    # Get the counts of NEGATIVE and POSITIVE sentiments
    negative_count = sentiment_dict.get('NEGATIVE', 0)
    positive_count = sentiment_dict.get('POSITIVE', 0)
    total_count = row['newsType_count']

    # Calculate the percentages and assign to the new columns
    if total_count > 0:
        grouped_data.at[i, 'negative_percentage'] = (negative_count / total_count) * 100
        grouped_data.at[i, 'positive_percentage'] = (positive_count / total_count) * 100

# Display the updated DataFrame with the new columns
print(grouped_data[['date', 'newsType', 'negative_percentage', 'positive_percentage']])


grouped_data.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/tesla-grouped.csv", index=False)


# Pivot the DataFrame to get each newsType as separate columns for negative and positive percentages
pivot_df_tesla = grouped_data.pivot(index='date', columns='newsType', values=['negative_percentage', 'positive_percentage'])

# Flatten the multi-level column names
pivot_df_tesla.columns = [f"{col[1]}_{col[0]}" for col in pivot_df_tesla.columns]

# Reset the index to bring 'Date' back as a column
pivot_df_tesla = pivot_df_tesla.reset_index()

# Display the resulting DataFrame
print(pivot_df_tesla.head())


tesla_final = pd.merge(data_tesla, pivot_df_tesla, on=['date'])
tesla_final.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/tesla-final.csv", index=False)

          date     newsType   sentimentScore  newsType_count
0   2023-08-28       social  {'NEGATIVE': 1}               1
1   2023-08-30      neutral  {'NEGATIVE': 1}               1
2   2023-08-30       social  {'POSITIVE': 1}               1
3   2023-09-01  environment  {'POSITIVE': 1}               1
4   2023-09-07       social  {'POSITIVE': 1}               1
..         ...          ...              ...             ...
77  2024-08-15       social  {'NEGATIVE': 1}               1
78  2024-08-16       social  {'NEGATIVE': 1}               1
79  2024-08-18       social  {'NEGATIVE': 1}               1
80  2024-08-19  environment  {'NEGATIVE': 1}               1
81  2024-08-19       social  {'NEGATIVE': 1}               1

[82 rows x 4 columns]
          date     newsType  negative_percentage  positive_percentage
0   2023-08-28       social                100.0                  0.0
1   2023-08-30      neutral                100.0                  0.0
2   2023-08-30       social                  0.0                100.0
3   2023-09-01  environment                  0.0                100.0
4   2023-09-07       social                  0.0                100.0
..         ...          ...                  ...                  ...
77  2024-08-15       social                100.0                  0.0
78  2024-08-16       social                100.0                  0.0
79  2024-08-18       social                100.0                  0.0
80  2024-08-19  environment                100.0                  0.0
81  2024-08-19       social                100.0                  0.0

[82 rows x 4 columns]
         date  environment_negative_percentage  \
0  2023-08-28                              NaN
1  2023-08-30                              NaN
2  2023-09-01                              0.0
3  2023-09-07                              NaN
4  2023-09-08                              0.0

   government_negative_percentage  neutral_negative_percentage  \
0                             NaN                          NaN
1                             NaN                        100.0
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          NaN

   social_negative_percentage  environment_positive_percentage  \
0                       100.0                              NaN
1                         0.0                              NaN
2                         NaN                            100.0
3                         0.0                              NaN
4                         NaN                            100.0

   government_positive_percentage  neutral_positive_percentage  \
0                             NaN                          NaN
1                             NaN                          0.0
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          NaN

   social_positive_percentage
0                         0.0
1                       100.0
2                         NaN
3                       100.0
4                         NaN

In [52]:
tesla_final

,date,Open,High,Low,Close,Adj Close,Volume,environment_negative_percentage,government_negative_percentage,neutral_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,neutral_positive_percentage,social_positive_percentage
0,2023-08-28,242.580002,244.380005,235.350006,238.820007,238.820007,107673700,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
1,2023-08-30,254.199997,260.510010,250.589996,256.899994,256.899994,121988400,NaN,NaN,100.0,0.0,NaN,NaN,0.0,100.0
2,2023-09-01,257.260010,259.079987,242.009995,245.009995,245.009995,132272500,0.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN
3,2023-09-07,245.070007,252.809998,243.270004,251.490005,251.490005,115312900,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
4,2023-09-08,251.220001,256.519989,246.669998,248.500000,248.500000,118367700,0.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN
5,2023-09-13,270.070007,274.980011,268.100006,271.299988,271.299988,111673700,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
6,2023-09-14,271.320007,276.709991,270.420013,276.040009,276.040009,107709800,NaN,NaN,0.0,NaN,NaN,NaN,100.0,NaN
7,2023-10-12,262.920013,265.410004,256.630005,258.869995,258.869995,111508100,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
8,2023-10-23,210.000000,216.979996,202.509995,212.080002,212.080002,150683400,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
9,2023-10-31,196.119995,202.800003,194.070007,200.839996,200.839996,118068300,NaN,0.0,NaN,NaN,NaN,100.0,NaN,NaN
10,2023-11-03,221.149994,226.369995,218.399994,219.960007,219.960007,119281000,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
11,2023-12-01,233.139999,240.190002,231.899994,238.830002,238.830002,121173500,NaN,NaN,0.0,NaN,NaN,NaN,100.0,NaN
12,2023-12-13,234.190002,240.300003,228.199997,239.289993,239.289993,146286300,NaN,100.0,NaN,50.0,NaN,0.0,NaN,50.0
13,2023-12-19,253.479996,258.339996,253.009995,257.220001,257.220001,106737400,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
14,2023-12-20,256.410004,259.839996,247.000000,247.139999,247.139999,125097000,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
15,2024-01-02,250.080002,251.250000,244.410004,248.419998,248.419998,104654200,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
16,2024-01-03,244.979996,245.679993,236.320007,238.449997,238.449997,121082600,NaN,0.0,NaN,NaN,NaN,100.0,NaN,NaN
17,2024-01-05,236.860001,240.119995,234.899994,237.490005,237.490005,92379400,0.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN
18,2024-01-12,220.080002,225.339996,217.149994,218.889999,218.889999,122889000,NaN,100.0,NaN,100.0,NaN,0.0,NaN,0.0
19,2024-01-24,211.880005,212.729996,206.770004,207.830002,207.830002,123369900,0.0,100.0,NaN,NaN,100.0,0.0,NaN,NaN
20,2024-01-26,185.500000,186.779999,182.100006,183.250000,183.250000,107343200,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
21,2024-01-31,187.000000,193.970001,185.850006,187.289993,187.289993,103221400,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
22,2024-02-13,183.990005,187.259995,182.110001,184.020004,184.020004,86759500,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
23,2024-03-05,183.050003,184.589996,177.570007,180.740005,180.740005,119660800,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
24,2024-03-06,179.990005,181.580002,173.699997,176.539993,176.539993,107920900,NaN,NaN,0.0,NaN,NaN,NaN,100.0,NaN
25,2024-03-07,174.350006,180.039993,173.699997,178.649994,178.649994,102129000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
26,2024-03-11,175.449997,182.869995,174.800003,177.770004,177.770004,85391500,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
27,2024-03-21,176.389999,178.179993,171.800003,172.820007,172.820007,73178000,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
28,2024-03-28,177.449997,179.570007,175.300003,175.789993,175.789993,77654800,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
29,2024-04-01,176.169998,176.750000,170.210007,175.220001,175.220001,81562100,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
30,2024-04-02,164.750000,167.690002,163.429993,166.630005,166.630005,116650600,100.0,NaN,NaN,100.0,0.0,NaN,NaN,0.0
31,2024-04-03,164.020004,168.820007,163.279999,168.380005,168.380005,82950100,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
32,2024-04-05,169.080002,170.860001,160.509995,164.899994,164.899994,141250700,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
33,2024-04-15,170.240005,170.690002,161.380005,161.479996,161.479996,100245300,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
34,2024-04-16,156.740005,158.190002,153.750000,157.110001,157.110001,97000000,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
35,2024-04-17,157.639999,158.330002,153.779999,155.449997,155.449997,82439700,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
36,2024-04-22,140.559998,144.440002,138.800003,142.050003,142.050003,107097600,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
37,2024-04-23,143.330002,147.259995,141.110001,144.679993,144.679993,124545100,NaN,NaN,50.0,0.0,NaN,NaN,50.0,100.0
38,2024-04-24,162.839996,167.970001,157.509995,162.130005,162.130005,181178000,NaN,NaN,100.0,NaN,NaN,NaN,0.0,NaN
39,2024-04-26,168.850006,172.119995,166.369995,168.289993,168.289993,109815700,NaN,100.0,NaN,0.0,NaN,0.0,NaN,100.0
40,2024-04-29,188.419998,198.869995,184.539993,194.050003,194.050003,243869700,NaN,NaN,NaN,50.0,NaN,NaN,NaN,50.0
41,2024-04-30,186.979996,190.949997,182.839996,183.279999,183.279999,127031800,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
42,2024-05-02,182.860001,184.600006,176.020004,180.009995,180.009995,89148000,100.0,NaN,NaN,100.0,0.0,NaN,NaN,0.0
43,2024-05-07,182.399994,183.259995,177.399994,177.809998,177.809998,75045900,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
44,2024-05-08,171.589996,176.059998,170.149994,174.720001,174.720001,79969500,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
45,2024-05-20,177.559998,177.750000,173.520004,174.949997,174.949997,61727400,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
46,2024-05-23,181.800003,181.899994,173.259995,173.740005,173.740005,71975500,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
47,2024-06-05,175.350006,176.149994,172.130005,175.000000,175.000000,57953800,100.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
48,2024-06-13,188.389999,191.080002,181.229996,182.470001,182.470001,118984100,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
49,2024-06-17,177.919998,188.809998,177.000000,187.440002,187.440002,109786100,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
50,2024-06-18,186.559998,187.199997,182.369995,184.860001,184.860001,68982300,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
51,2024-07-01,201.020004,213.229996,200.850006,209.860001,209.860001,135691400,100.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
52,2024-07-02,218.889999,231.300003,218.059998,231.259995,231.259995,205047900,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
53,2024-07-09,251.000000,265.609985,250.300003,262.329987,262.329987,160210900,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
54,2024-07-11,263.299988,271.000000,239.649994,241.029999,241.029999,221707300,NaN,NaN,0.0,100.0,NaN,NaN,100.0,0.0
55,2024-08-15,205.020004,215.880005,204.820007,214.139999,214.139999,89848500,NaN,NaN,100.0,100.0,NaN,NaN,0.0,0.0
56,2024-08-16,211.149994,219.800003,210.800003,216.119995,216.119995,88765100,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0
57,2024-08-19,217.070007,222.979996,214.089996,222.720001,222.720001,76435200,100.0,NaN,NaN,100.0,0.0,NaN,NaN,0.0

##Oracle dataset

In [61]:
data_oracle = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Datasets]/[Dataset] Stock prices/ORCL.csv')
data_oracle.head(20)

# Convert the 'Date' column in data_pfizer to datetime format
data_oracle['Date'] = pd.to_datetime(data_oracle['Date'], format='%Y-%m-%d').dt.date
oracle_news = data_unique[data_unique['company'] == 'Oracle']
data_oracle = data_oracle.rename(columns={
    'Date': 'date'
})

from collections import Counter

# Group by 'date' and 'newsType', aggregate sentiment scores and count news types
grouped_data = oracle_news.groupby(['date', 'newsType']).agg({
    'sentimentScore': lambda x: Counter(x),
    'newsType': 'count'
}).rename(columns={'newsType': 'newsType_count'}).reset_index()

print(grouped_data)

# Initialize new columns for percentages
grouped_data['negative_percentage'] = 0.0
grouped_data['positive_percentage'] = 0.0

# Iterate through the rows to calculate the percentages
for i, row in grouped_data.iterrows():
    sentiment_dict = row['sentimentScore']

    # Get the counts of NEGATIVE and POSITIVE sentiments
    negative_count = sentiment_dict.get('NEGATIVE', 0)
    positive_count = sentiment_dict.get('POSITIVE', 0)
    total_count = row['newsType_count']

    # Calculate the percentages and assign to the new columns
    if total_count > 0:
        grouped_data.at[i, 'negative_percentage'] = (negative_count / total_count) * 100
        grouped_data.at[i, 'positive_percentage'] = (positive_count / total_count) * 100

# Display the updated DataFrame with the new columns
print(grouped_data[['date', 'newsType', 'negative_percentage', 'positive_percentage']])


grouped_data.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/oracle-grouped.csv", index=False)


# Pivot the DataFrame to get each newsType as separate columns for negative and positive percentages
pivot_df_oracle = grouped_data.pivot(index='date', columns='newsType', values=['negative_percentage', 'positive_percentage'])

# Flatten the multi-level column names
pivot_df_oracle.columns = [f"{col[1]}_{col[0]}" for col in pivot_df_oracle.columns]

# Reset the index to bring 'Date' back as a column
pivot_df_oracle = pivot_df_oracle.reset_index()

# Display the resulting DataFrame
print(pivot_df_oracle.head())


oracle_final = pd.merge(data_oracle, pivot_df_oracle, on=['date'])
oracle_final.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/oracle-final.csv", index=False)

          date     newsType   sentimentScore  newsType_count
0   2023-08-22  environment  {'NEGATIVE': 1}               1
1   2023-08-29   government  {'POSITIVE': 1}               1
2   2023-09-07      neutral  {'POSITIVE': 2}               2
3   2023-09-14  environment  {'POSITIVE': 2}               2
4   2023-09-19   government  {'POSITIVE': 1}               1
..         ...          ...              ...             ...
81  2024-07-19       social  {'NEGATIVE': 1}               1
82  2024-07-22      neutral  {'NEGATIVE': 1}               1
83  2024-07-22       social  {'NEGATIVE': 1}               1
84  2024-08-07       social  {'POSITIVE': 1}               1
85  2024-08-15       social  {'NEGATIVE': 1}               1

[86 rows x 4 columns]
          date     newsType  negative_percentage  positive_percentage
0   2023-08-22  environment                100.0                  0.0
1   2023-08-29   government                  0.0                100.0
2   2023-09-07      neutral                  0.0                100.0
3   2023-09-14  environment                  0.0                100.0
4   2023-09-19   government                  0.0                100.0
..         ...          ...                  ...                  ...
81  2024-07-19       social                100.0                  0.0
82  2024-07-22      neutral                100.0                  0.0
83  2024-07-22       social                100.0                  0.0
84  2024-08-07       social                  0.0                100.0
85  2024-08-15       social                100.0                  0.0

[86 rows x 4 columns]
         date  environment_negative_percentage  \
0  2023-08-22                            100.0
1  2023-08-29                              NaN
2  2023-09-07                              NaN
3  2023-09-14                              0.0
4  2023-09-19                              NaN

   government_negative_percentage  neutral_negative_percentage  \
0                             NaN                          NaN
1                             0.0                          NaN
2                             NaN                          0.0
3                             NaN                          NaN
4                             0.0                        100.0

   social_negative_percentage  environment_positive_percentage  \
0                         NaN                              0.0
1                         NaN                              NaN
2                         NaN                              NaN
3                         NaN                            100.0
4                         0.0                              NaN

   government_positive_percentage  neutral_positive_percentage  \
0                             NaN                          NaN
1                           100.0                          NaN
2                             NaN                        100.0
3                             NaN                          NaN
4                           100.0                          0.0

   social_positive_percentage
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                       100.0

In [62]:
oracle_final

,date,Open,High,Low,Close,Adj Close,Volume,environment_negative_percentage,government_negative_percentage,neutral_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,neutral_positive_percentage,social_positive_percentage
0,2023-08-29,120.949997,121.209999,118.529999,120.650002,119.024872,11920500,NaN,0.0,NaN,NaN,NaN,100.0,NaN,NaN
1,2023-09-07,123.830002,125.959999,122.589996,125.089996,123.405052,11864400,NaN,NaN,0.0,NaN,NaN,NaN,100.0,NaN
2,2023-09-14,113.500000,115.139999,111.949997,113.660004,112.129021,19849700,0.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN
3,2023-09-19,112.480003,113.739998,111.709999,112.769997,111.250999,9536100,NaN,0.0,100.0,0.0,NaN,100.0,0.0,100.0
4,2023-09-28,104.029999,106.599998,103.269997,106.150002,104.720184,7373600,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2024-07-17,140.479996,141.789993,138.679993,139.259995,139.259995,9157000,0.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN
57,2024-07-19,138.350006,140.440002,138.080002,138.559998,138.559998,6111900,NaN,100.0,NaN,100.0,NaN,0.0,NaN,0.0
58,2024-07-22,139.740005,140.679993,139.119995,140.169998,140.169998,5387200,NaN,NaN,100.0,100.0,NaN,NaN,0.0,0.0
59,2024-08-07,128.919998,130.300003,125.750000,125.900002,125.900002,8617700,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
60,2024-08-15,136.929993,137.250000,135.720001,136.929993,136.929993,4698100,NaN,NaN,NaN,100.0,NaN,NaN,NaN,0.0

##Tencent dataset

In [63]:
data_tencent = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Datasets]/[Dataset] Stock prices/0700.HK.csv')
data_tencent.head(20)

# Convert the 'Date' column in data_pfizer to datetime format
data_tencent['Date'] = pd.to_datetime(data_tencent['Date'], format='%Y-%m-%d').dt.date
tencent_news = data_unique[data_unique['company'] == 'Tencent']
data_tencent = data_tencent.rename(columns={
    'Date': 'date'
})

merged_df_tencent = pd.merge(tencent_news, data_tencent, on=['date'])
merged_df_tencent.to_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/tencent-news-merged.csv', index=False)

from collections import Counter

# Group by 'date' and 'newsType', aggregate sentiment scores and count news types
grouped_data = tencent_news.groupby(['date', 'newsType']).agg({
    'sentimentScore': lambda x: Counter(x),
    'newsType': 'count'
}).rename(columns={'newsType': 'newsType_count'}).reset_index()

print(grouped_data)

# Initialize new columns for percentages
grouped_data['negative_percentage'] = 0.0
grouped_data['positive_percentage'] = 0.0

# Iterate through the rows to calculate the percentages
for i, row in grouped_data.iterrows():
    sentiment_dict = row['sentimentScore']

    # Get the counts of NEGATIVE and POSITIVE sentiments
    negative_count = sentiment_dict.get('NEGATIVE', 0)
    positive_count = sentiment_dict.get('POSITIVE', 0)
    total_count = row['newsType_count']

    # Calculate the percentages and assign to the new columns
    if total_count > 0:
        grouped_data.at[i, 'negative_percentage'] = (negative_count / total_count) * 100
        grouped_data.at[i, 'positive_percentage'] = (positive_count / total_count) * 100

# Display the updated DataFrame with the new columns
print(grouped_data[['date', 'newsType', 'negative_percentage', 'positive_percentage']])


grouped_data.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/tencent-grouped.csv", index=False)


# Pivot the DataFrame to get each newsType as separate columns for negative and positive percentages
pivot_df_tencent = grouped_data.pivot(index='date', columns='newsType', values=['negative_percentage', 'positive_percentage'])

# Flatten the multi-level column names
pivot_df_tencent.columns = [f"{col[1]}_{col[0]}" for col in pivot_df_tencent.columns]

# Reset the index to bring 'Date' back as a column
pivot_df_tencent = pivot_df_tencent.reset_index()

# Display the resulting DataFrame
print(pivot_df_tencent.head())


tencent_final = pd.merge(data_tencent, pivot_df_tencent, on=['date'])
tencent_final.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/tencent-final.csv", index=False)

          date    newsType                  sentimentScore  newsType_count
0   2023-09-03      social                 {'NEGATIVE': 1}               1
1   2023-09-06      social                 {'POSITIVE': 1}               1
2   2023-09-07      social                 {'POSITIVE': 2}               2
3   2023-10-19  government                 {'POSITIVE': 1}               1
4   2023-11-10  government                 {'NEGATIVE': 1}               1
..         ...         ...                             ...             ...
71  2024-07-29     neutral                 {'NEGATIVE': 1}               1
72  2024-08-13      social  {'POSITIVE': 1, 'NEGATIVE': 1}               2
73  2024-08-14      social  {'POSITIVE': 3, 'NEGATIVE': 2}               5
74  2024-08-15      social                 {'POSITIVE': 1}               1
75  2024-08-20      social                 {'POSITIVE': 1}               1

[76 rows x 4 columns]
          date    newsType  negative_percentage  positive_percentage
0   2023-09-03      social                100.0                  0.0
1   2023-09-06      social                  0.0                100.0
2   2023-09-07      social                  0.0                100.0
3   2023-10-19  government                  0.0                100.0
4   2023-11-10  government                100.0                  0.0
..         ...         ...                  ...                  ...
71  2024-07-29     neutral                100.0                  0.0
72  2024-08-13      social                 50.0                 50.0
73  2024-08-14      social                 40.0                 60.0
74  2024-08-15      social                  0.0                100.0
75  2024-08-20      social                  0.0                100.0

[76 rows x 4 columns]
         date  environment_negative_percentage  \
0  2023-09-03                              NaN
1  2023-09-06                              NaN
2  2023-09-07                              NaN
3  2023-10-19                              NaN
4  2023-11-10                              NaN

   government_negative_percentage  neutral_negative_percentage  \
0                             NaN                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             0.0                          NaN
4                           100.0                          NaN

   social_negative_percentage  environment_positive_percentage  \
0                       100.0                              NaN
1                         0.0                              NaN
2                         0.0                              NaN
3                         NaN                              NaN
4                         NaN                              NaN

   government_positive_percentage  neutral_positive_percentage  \
0                             NaN                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                           100.0                          NaN
4                             0.0                          NaN

   social_positive_percentage
0                         0.0
1                       100.0
2                       100.0
3                         NaN
4                         NaN

In [64]:
tencent_final

,date,Open,High,Low,Close,Adj Close,Volume,environment_negative_percentage,government_negative_percentage,neutral_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,neutral_positive_percentage,social_positive_percentage
0,2023-09-06,329.000000,329.000000,323.200012,327.600006,324.794373,16488562.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
1,2023-09-07,326.600006,327.200012,320.200012,321.600006,318.845734,16724228.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
2,2023-10-19,295.399994,297.600006,291.200012,291.200012,288.706116,17216427.0,NaN,0.0,NaN,NaN,NaN,100.0,NaN,NaN
3,2023-11-10,304.600006,304.600006,301.200012,302.799988,300.206726,9871831.0,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
4,2023-11-15,316.600006,323.600006,314.000000,322.600006,319.837189,32454690.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2024-07-29,359.799988,362.000000,353.799988,358.200012,358.200012,12872249.0,NaN,NaN,100.0,NaN,NaN,NaN,0.0,NaN
57,2024-08-13,376.000000,380.600006,375.600006,378.600006,378.600006,13590391.0,NaN,NaN,NaN,50.0,NaN,NaN,NaN,50.0
58,2024-08-14,378.600006,379.399994,369.399994,373.799988,373.799988,18692686.0,NaN,NaN,NaN,40.0,NaN,NaN,NaN,60.0
59,2024-08-15,366.200012,374.799988,364.200012,368.399994,368.399994,21443850.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0
60,2024-08-20,372.799988,373.799988,369.000000,370.399994,370.399994,11852608.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0

##Shell dataset

In [66]:
data_shell = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Datasets]/[Dataset] Stock prices/SHEL.csv')
data_shell.head(20)

# Convert the 'Date' column in data_pfizer to datetime format
data_shell['Date'] = pd.to_datetime(data_shell['Date'], format='%Y-%m-%d').dt.date
shell_news = data_unique[data_unique['company'] == 'Shell']
data_shell = data_shell.rename(columns={
    'Date': 'date'
})

merged_df_shell = pd.merge(shell_news, data_shell, on=['date'])
merged_df_shell.to_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/shell-news-merged.csv', index=False)


from collections import Counter

# Group by 'date' and 'newsType', aggregate sentiment scores and count news types
grouped_data = shell_news.groupby(['date', 'newsType']).agg({
    'sentimentScore': lambda x: Counter(x),
    'newsType': 'count'
}).rename(columns={'newsType': 'newsType_count'}).reset_index()

print(grouped_data)

# Initialize new columns for percentages
grouped_data['negative_percentage'] = 0.0
grouped_data['positive_percentage'] = 0.0

# Iterate through the rows to calculate the percentages
for i, row in grouped_data.iterrows():
    sentiment_dict = row['sentimentScore']

    # Get the counts of NEGATIVE and POSITIVE sentiments
    negative_count = sentiment_dict.get('NEGATIVE', 0)
    positive_count = sentiment_dict.get('POSITIVE', 0)
    total_count = row['newsType_count']

    # Calculate the percentages and assign to the new columns
    if total_count > 0:
        grouped_data.at[i, 'negative_percentage'] = (negative_count / total_count) * 100
        grouped_data.at[i, 'positive_percentage'] = (positive_count / total_count) * 100

# Display the updated DataFrame with the new columns
print(grouped_data[['date', 'newsType', 'negative_percentage', 'positive_percentage']])


grouped_data.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/shell-grouped.csv", index=False)


# Pivot the DataFrame to get each newsType as separate columns for negative and positive percentages
pivot_df_shell = grouped_data.pivot(index='date', columns='newsType', values=['negative_percentage', 'positive_percentage'])

# Flatten the multi-level column names
pivot_df_shell.columns = [f"{col[1]}_{col[0]}" for col in pivot_df_shell.columns]

# Reset the index to bring 'Date' back as a column
pivot_df_shell = pivot_df_shell.reset_index()

# Display the resulting DataFrame
print(pivot_df_shell.head())


shell_final = pd.merge(data_shell, pivot_df_shell, on=['date'])
shell_final.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/shell-final.csv", index=False)

          date     newsType   sentimentScore  newsType_count
0   2023-08-30  environment  {'NEGATIVE': 1}               1
1   2023-08-31  environment  {'NEGATIVE': 1}               1
2   2023-09-01  environment  {'NEGATIVE': 2}               2
3   2023-09-27  environment  {'NEGATIVE': 1}               1
4   2023-10-06       social  {'NEGATIVE': 1}               1
..         ...          ...              ...             ...
77  2024-07-12       social  {'POSITIVE': 1}               1
78  2024-07-14       social  {'NEGATIVE': 1}               1
79  2024-07-31  environment  {'POSITIVE': 1}               1
80  2024-08-01  environment  {'NEGATIVE': 1}               1
81  2024-08-10  environment  {'POSITIVE': 1}               1

[82 rows x 4 columns]
          date     newsType  negative_percentage  positive_percentage
0   2023-08-30  environment                100.0                  0.0
1   2023-08-31  environment                100.0                  0.0
2   2023-09-01  environment                100.0                  0.0
3   2023-09-27  environment                100.0                  0.0
4   2023-10-06       social                100.0                  0.0
..         ...          ...                  ...                  ...
77  2024-07-12       social                  0.0                100.0
78  2024-07-14       social                100.0                  0.0
79  2024-07-31  environment                  0.0                100.0
80  2024-08-01  environment                100.0                  0.0
81  2024-08-10  environment                  0.0                100.0

[82 rows x 4 columns]
         date  environment_negative_percentage  \
0  2023-08-30                            100.0
1  2023-08-31                            100.0
2  2023-09-01                            100.0
3  2023-09-27                            100.0
4  2023-10-06                              NaN

   government_negative_percentage  social_negative_percentage  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                       100.0

   environment_positive_percentage  government_positive_percentage  \
0                              0.0                             NaN
1                              0.0                             NaN
2                              0.0                             NaN
3                              0.0                             NaN
4                              NaN                             NaN

   social_positive_percentage
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         0.0

In [67]:
shell_final

,date,Open,High,Low,Close,Adj Close,Volume,environment_negative_percentage,government_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,social_positive_percentage
0,2023-08-30,62.439999,62.560001,62.139999,62.240002,59.807182,2464087,100.0,NaN,NaN,0.0,NaN,NaN
1,2023-08-31,62.439999,62.439999,61.884998,62.090000,59.663044,3051592,100.0,NaN,NaN,0.0,NaN,NaN
2,2023-09-01,63.009998,63.160000,62.474998,62.849998,60.393337,2924792,100.0,NaN,NaN,0.0,NaN,NaN
3,2023-09-27,64.500000,65.035004,64.339996,64.919998,62.382431,5079809,100.0,NaN,NaN,0.0,NaN,NaN
4,2023-10-06,63.590000,64.669998,63.060001,64.529999,62.007671,6938644,NaN,NaN,100.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2024-07-09,72.599998,73.020103,72.419998,72.580002,71.897552,2648559,0.0,NaN,NaN,100.0,NaN,NaN
60,2024-07-11,72.779999,73.000000,72.459999,72.970001,72.283882,2302791,NaN,NaN,50.0,NaN,NaN,50.0
61,2024-07-12,73.250000,73.330002,72.900002,73.080002,72.392845,1653098,NaN,NaN,0.0,NaN,NaN,100.0
62,2024-07-31,73.309998,73.529999,72.970001,73.220001,72.531532,4189661,0.0,NaN,NaN,100.0,NaN,NaN
63,2024-08-01,73.959999,74.459999,72.099998,72.940002,72.254166,5673079,100.0,NaN,NaN,0.0,NaN,NaN

##Procter & Gamble dataset

In [69]:
data_pg = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Datasets]/[Dataset] Stock prices/PG.csv')
data_pg.head(20)

# Convert the 'Date' column in to datetime format
data_pg['Date'] = pd.to_datetime(data_pg['Date'], format='%Y-%m-%d').dt.date
pg_news = data_unique[data_unique['company'] == 'Procter']
data_pg = data_pg.rename(columns={
    'Date': 'date'
})

merged_df_pg = pd.merge(pg_news, data_pg, on=['date'])
merged_df_pg.to_csv('/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/pg-news-merged.csv', index=False)


from collections import Counter

# Group by 'date' and 'newsType', aggregate sentiment scores and count news types
grouped_data = pg_news.groupby(['date', 'newsType']).agg({
    'sentimentScore': lambda x: Counter(x),
    'newsType': 'count'
}).rename(columns={'newsType': 'newsType_count'}).reset_index()

print(grouped_data)

# Initialize new columns for percentages
grouped_data['negative_percentage'] = 0.0
grouped_data['positive_percentage'] = 0.0

# Iterate through the rows to calculate the percentages
for i, row in grouped_data.iterrows():
    sentiment_dict = row['sentimentScore']

    # Get the counts of NEGATIVE and POSITIVE sentiments
    negative_count = sentiment_dict.get('NEGATIVE', 0)
    positive_count = sentiment_dict.get('POSITIVE', 0)
    total_count = row['newsType_count']

    # Calculate the percentages and assign to the new columns
    if total_count > 0:
        grouped_data.at[i, 'negative_percentage'] = (negative_count / total_count) * 100
        grouped_data.at[i, 'positive_percentage'] = (positive_count / total_count) * 100

# Display the updated DataFrame with the new columns
print(grouped_data[['date', 'newsType', 'negative_percentage', 'positive_percentage']])


grouped_data.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/pg-grouped.csv", index=False)


# Pivot the DataFrame to get each newsType as separate columns for negative and positive percentages
pivot_df_pg = grouped_data.pivot(index='date', columns='newsType', values=['negative_percentage', 'positive_percentage'])

# Flatten the multi-level column names
pivot_df_pg.columns = [f"{col[1]}_{col[0]}" for col in pivot_df_pg.columns]

# Reset the index to bring 'Date' back as a column
pivot_df_pg = pivot_df_pg.reset_index()

# Display the resulting DataFrame
print(pivot_df_pg.head())


pg_final = pd.merge(data_pg, pivot_df_pg, on=['date'])
pg_final.to_csv("/content/drive/MyDrive/Colab Notebooks/[DS] Seminarska/[Code] Models/[Dataset] Generated datasets/pg-final.csv", index=False)

          date    newsType                  sentimentScore  newsType_count
0   2024-01-19  government                 {'NEGATIVE': 1}               1
1   2024-01-23  government                 {'POSITIVE': 1}               1
2   2024-01-23      social                 {'POSITIVE': 1}               1
3   2024-01-31      social                 {'NEGATIVE': 1}               1
4   2024-02-01      social                 {'NEGATIVE': 3}               3
..         ...         ...                             ...             ...
71  2024-08-14      social  {'POSITIVE': 1, 'NEGATIVE': 2}               3
72  2024-08-15  government                 {'NEGATIVE': 1}               1
73  2024-08-16      social  {'POSITIVE': 2, 'NEGATIVE': 1}               3
74  2024-08-17      social  {'POSITIVE': 1, 'NEGATIVE': 3}               4
75  2024-08-18      social  {'POSITIVE': 1, 'NEGATIVE': 1}               2

[76 rows x 4 columns]
          date    newsType  negative_percentage  positive_percentage
0   2024-01-19  government           100.000000             0.000000
1   2024-01-23  government             0.000000           100.000000
2   2024-01-23      social             0.000000           100.000000
3   2024-01-31      social           100.000000             0.000000
4   2024-02-01      social           100.000000             0.000000
..         ...         ...                  ...                  ...
71  2024-08-14      social            66.666667            33.333333
72  2024-08-15  government           100.000000             0.000000
73  2024-08-16      social            33.333333            66.666667
74  2024-08-17      social            75.000000            25.000000
75  2024-08-18      social            50.000000            50.000000

[76 rows x 4 columns]
         date  environment_negative_percentage  \
0  2024-01-19                              NaN
1  2024-01-23                              NaN
2  2024-01-31                              NaN
3  2024-02-01                              NaN
4  2024-02-02                              NaN

   government_negative_percentage  neutral_negative_percentage  \
0                           100.0                          NaN
1                             0.0                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                        100.0

   social_negative_percentage  environment_positive_percentage  \
0                         NaN                              NaN
1                         0.0                              NaN
2                       100.0                              NaN
3                       100.0                              NaN
4                         NaN                              NaN

   government_positive_percentage  neutral_positive_percentage  \
0                             0.0                          NaN
1                           100.0                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          0.0

   social_positive_percentage
0                         NaN
1                       100.0
2                         0.0
3                         0.0
4                         NaN

In [70]:
pg_final

,date,Open,High,Low,Close,Adj Close,Volume,environment_negative_percentage,government_negative_percentage,neutral_negative_percentage,social_negative_percentage,environment_positive_percentage,government_positive_percentage,neutral_positive_percentage,social_positive_percentage
0,2024-01-19,148.250000,148.619995,147.309998,147.570007,145.746674,7738600,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
1,2024-01-23,153.110001,156.399994,152.889999,153.979996,152.077469,19101600,NaN,0.0,NaN,0.000000,NaN,100.0,NaN,100.000000
2,2024-01-31,157.990005,158.500000,156.699997,157.139999,155.198410,8870000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
3,2024-02-01,156.770004,159.300003,156.619995,159.179993,157.213211,7601100,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
4,2024-02-02,158.970001,159.600006,157.529999,158.089996,156.136673,7937700,NaN,NaN,100.0,NaN,NaN,NaN,0.0,NaN
5,2024-02-09,158.259995,158.339996,156.960007,157.419998,155.474960,5978000,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
6,2024-02-14,156.160004,156.160004,154.910004,155.630005,153.707077,5727300,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
7,2024-02-21,159.190002,160.399994,159.190002,160.399994,158.418137,7121000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
8,2024-02-26,161.029999,161.169998,160.070007,160.220001,158.240372,4531900,NaN,NaN,100.0,NaN,NaN,NaN,0.0,NaN
9,2024-02-28,159.070007,160.119995,158.639999,160.050003,158.072464,3802900,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
10,2024-03-07,159.949997,160.910004,159.470001,160.619995,158.635422,4783900,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
11,2024-03-25,161.169998,161.660004,159.729996,160.190002,158.210739,7145600,0.0,NaN,NaN,100.000000,100.0,NaN,NaN,0.000000
12,2024-04-01,161.779999,162.070007,159.800003,160.580002,158.595932,5971900,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
13,2024-04-04,156.880005,157.080002,155.410004,155.449997,153.529312,6801700,100.0,NaN,100.0,NaN,0.0,NaN,0.0,NaN
14,2024-04-05,155.289993,157.059998,154.690002,156.100006,154.171280,5120800,100.0,100.0,NaN,100.000000,0.0,0.0,NaN,0.000000
15,2024-04-09,156.270004,156.750000,155.699997,156.660004,154.724350,4613800,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
16,2024-04-11,157.550003,157.600006,155.770004,155.839996,153.914490,8209800,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
17,2024-04-12,155.220001,155.970001,154.740005,155.330002,153.410797,6770500,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
18,2024-04-15,156.419998,156.820007,155.330002,155.449997,153.529312,5754000,NaN,NaN,NaN,50.000000,NaN,NaN,NaN,50.000000
19,2024-04-16,155.850006,156.940002,155.669998,155.949997,154.023132,6103300,NaN,0.0,NaN,0.000000,NaN,100.0,NaN,100.000000
20,2024-04-17,156.300003,157.119995,155.740005,156.960007,155.020660,6621900,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
21,2024-04-18,156.339996,157.630005,155.960007,157.289993,156.349655,7819300,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
22,2024-04-19,154.979996,158.179993,153.520004,158.139999,157.194580,12028400,100.0,100.0,NaN,100.000000,0.0,0.0,NaN,0.000000
23,2024-04-22,158.429993,161.289993,157.250000,160.539993,159.580215,8926300,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
24,2024-04-24,161.199997,162.860001,159.419998,162.600006,161.627914,7217600,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
25,2024-04-29,161.169998,161.789993,160.410004,161.660004,160.693527,4621000,NaN,NaN,100.0,NaN,NaN,NaN,0.0,NaN
26,2024-04-30,161.839996,163.350006,161.600006,163.199997,162.224319,8106100,NaN,100.0,NaN,0.000000,NaN,0.0,NaN,100.000000
27,2024-05-08,165.979996,166.369995,164.929993,165.070007,164.083145,4579400,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
28,2024-05-14,165.529999,166.070007,163.949997,165.759995,164.769012,6009800,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
29,2024-05-16,166.929993,168.339996,166.589996,167.860001,166.856461,6793600,NaN,100.0,NaN,50.000000,NaN,0.0,NaN,50.000000
30,2024-05-22,168.009995,168.429993,167.630005,167.809998,166.806763,4536700,NaN,NaN,NaN,33.333333,NaN,NaN,NaN,66.666667
31,2024-05-28,164.490005,164.759995,162.259995,163.110001,162.134857,6466200,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
32,2024-06-03,163.929993,166.240005,163.630005,164.649994,163.665649,5828400,NaN,NaN,0.0,NaN,NaN,NaN,100.0,NaN
33,2024-06-04,164.789993,167.119995,164.399994,167.009995,166.011536,6277000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
34,2024-06-05,167.009995,167.009995,164.979996,166.050003,165.057281,5243300,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
35,2024-06-12,167.500000,167.639999,164.220001,165.179993,164.192474,5474500,NaN,0.0,NaN,50.000000,NaN,100.0,NaN,50.000000
36,2024-06-17,165.850006,168.710007,165.399994,167.500000,166.498611,6759400,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
37,2024-06-18,167.029999,168.649994,166.940002,168.559998,167.552277,5112600,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
38,2024-06-27,167.490005,168.100006,165.500000,166.619995,165.623871,5007000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
39,2024-06-28,166.000000,167.240005,164.580002,164.919998,163.934036,9253100,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
40,2024-07-10,165.899994,166.919998,165.539993,166.800003,165.802811,5037100,NaN,NaN,0.0,NaN,NaN,NaN,100.0,NaN
41,2024-07-11,166.300003,166.630005,164.779999,165.539993,164.550323,5831500,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
42,2024-07-16,164.910004,167.070007,164.610001,166.949997,165.951904,6378300,NaN,0.0,NaN,0.000000,NaN,100.0,NaN,100.000000
43,2024-07-18,168.800003,170.919998,168.279999,168.440002,167.432999,5926300,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
44,2024-07-19,167.970001,169.039993,167.130005,167.960007,167.960007,6597100,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
45,2024-07-22,167.929993,168.699997,167.699997,168.250000,168.250000,6383000,NaN,NaN,100.0,NaN,NaN,NaN,0.0,NaN
46,2024-07-26,167.250000,169.320007,167.029999,169.110001,169.110001,5581600,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
47,2024-07-30,161.789993,162.380005,158.039993,161.699997,161.699997,15746300,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
48,2024-08-01,160.880005,166.309998,160.679993,165.690002,165.690002,12532700,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
49,2024-08-02,167.440002,170.350006,165.149994,170.080002,170.080002,11899000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,100.000000
50,2024-08-12,169.399994,169.649994,166.199997,166.809998,166.809998,7208100,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,0.000000
51,2024-08-14,166.500000,169.470001,165.820007,168.800003,168.800003,5476600,NaN,0.0,NaN,66.666667,NaN,100.0,NaN,33.333333
52,2024-08-15,169.460007,169.679993,166.750000,167.919998,167.919998,9491400,NaN,100.0,NaN,NaN,NaN,0.0,NaN,NaN
53,2024-08-16,167.820007,168.350006,166.800003,167.889999,167.889999,5640800,NaN,NaN,NaN,33.333333,NaN,NaN,NaN,66.666667